#container {
	width:860px; 
	margin: 0 auto; 
}
.item {
	width: 408px;
	margin: 20px 10px 10px 10px;
	float: left;
	background-color:#ffffff;
	border:solid 1px #B4BBCD;
	min-height:50px;
	text-align:justify;
	word-wrap:break-word; 
}

/***************************
 *
 * timeline
 * 
 **************************/

.timeline_container{
	width: 16px;
	text-align: center;
	margin: 0 auto;
	cursor:pointer;
	display: block;
}
.timeline{
	margin: 0 auto;
	background-color:#e08989;
	display: block;
	float: left;
	height: 100%;
	left: 428px;
	margin-top: 10px;
	position: absolute;
	width: 4px;
}

.timeline:hover {
	cursor: pointer;
	margin: 0 auto;
}

.rightCorner { 
	background-image: url("images/right.png");
	display: block;
	height: 15px;
	margin-left: 408px;
	margin-top: 8px;
	padding: 0;
	vertical-align: top;
	width: 13px;
	z-index:2;
	position: absolute;
}
.leftCorner{
	background-image: url("images/left.png");
	display: block;
	height: 15px;
	width: 13px;
	margin-left: -13px;
	margin-top: 8px;
	position: absolute;
	z-index:2;
}
.timeline div.plus{
	width: 14px;
	height: 14px;
	position: relative;
	left: -6px;
}

/***************************
 *
 * timeline inner content
 * 
 **************************/


.item>.title {
	font-size: 20px;
	padding: 10px;
}

.item>.time {
	color: #CCC;
	padding: 5px;
}

.item>.content {
	padding: 10px;
}
