html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body {
  font-family: '\5FAE\8F6F\96C5\9ED1','微軟正黑體', 'Lato', Calibri, Arial, sans-serif;
  color: #777;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #362A1C;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0;
  padding: 0;
  color:#555;
}
.main {
	width: 95%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em;
}
.index #header #logo {
    position: absolute;
    left: 10%;
    top: 10px;
}
.index #header {
    min-height: 130px;
}
.index #header #navbar {
    margin-left: 105px;
}
.timeline #header {
  height: 10%;
  min-height: 100px;
}
.timeline #logo {
  position: absolute;
  top: 0px;
  left: 10%;
}
#header h1.page-title {
  font-size: 26px;
  line-height: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 10px;
  z-index: 0;
  left: 30%;
}
#header h1.page-title sup{
  margin-left: 10px;
  margin-left: 10px;
  font-size: 13px;
  vertical-align: 20px;
  text-shadow: 0px 0px;
}
#header #navbar {
  left: 10%;
  margin-left: 85px;
  z-index: 1000;
  position: absolute;
  font-size: 10px;
}
#container {
  position: relative;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
  float: left;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
#footer {
  font-size: 12px;
}
#footer .reload {
  background: url(images/reload.gif) no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
/**
 * Timeline specific
 */
#storyjs-timeline {
  font-family: '\5FAE\8F6F\96C5\9ED1','微軟正黑體', 'Lato', Calibri, Arial, sans-serif !important;
}
#storyjs-timeline.vco-storyjs .vco-feature p {
  color: #000;
}
#storyjs-timeline .timenav-tag-row-1 h3{ color:#8C92AD; }
#storyjs-timeline .timenav-tag-row-2 h3{ color:#71BA9F; }
#storyjs-timeline .timenav-tag-row-3 h3{ color:#CEE879; }
#storyjs-timeline .timenav-tag-row-4 h3{ color:#FCBC53; }
#storyjs-timeline .timenav-tag-row-5 h3{ color:#FF5254; }
#storyjs-timeline .timenav-tag-row-6 h3{ color:#999; }

#storyjs-timeline .vco-storyjs h3{
  font-size: 22px;
}
#storyjs-timeline .vco-slider .slider-item .content .content-container .text .container h2.date{
  line-height:0;
  font-size: 0;
}
#storyjs-timeline .vco-slider .slider-item .content .content-container .text .container h2.date span.slide-tag{
  float:right;
  display: block;
}
.slider-item .fadeout {
  color: #ccc;
  text-shadow: 0px 0px 2px #999;
}
.slider-item .fadeout .highlighted,
.slider-item .fadeout .highlighted a {
  color: #000;
  text-shadow: none;
}
.slider-item .fadeout a {
  color: #ccc;
}
.slider-item .container .fadeout:hover,
.slider-item .container .fadeout a:hover {
  color: #777;
  text-shadow: 0px 0px 0px;
}


/**
 * front page specific
 */
#filter {
  position: absolute;
  left: 30%;
  top: 15px;
}
#filter #year-line {
  border-top: 1px solid #777;
  margin: 0 32px;
}
#filter .year, #filter .tag{
  line-height: 2.0em;
  max-height: 40px;
  overflow: hidden;
}
#filter .year span {
  margin: 0 3px;
  cursor: pointer;
  padding: 3px;
}
#filter .tag .query {
  margin: 0 3px;
  cursor: pointer;
  background: #EEE;
  border-radius: 10px;
  padding: 3px 3px;
}
#filter .query:hover {
  color: #0090DF;
}
#no-result {
  text-align: center;
  margin: 50px auto;
}
ul.cbp_tmtimeline {
  display: none;
}
/* animation */
