html, body{
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Merriweather', '微軟正黑體', serif;
  font-size: 16px;
  color: #666;
}
a:link, a:visited {
  color: #0090DF;
  text-decoration: none;
}
a:hover, a:active {
  color: #0090DF;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0;
  padding: 0;
}
#header{
  text-align: center;
  height: 20%;
}
#header * {
  margin: 0;
}
#header h1 {
  font-size: 38px;
  line-height: 1.5em;
  font-weight: bold;
  color: #000;
}
#header h1.page-title sup a{
  text-indent: -9999px;
  background: url(images/external_link.png);
  width:26px;
  height:26px;
  display:inline-block;
  margin-left: 10px;
}
#navbar {
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
}
#navbar li {
  list-style-type: none;
  display: inline-block;
  margin: 0 30px;
}

#wrapper {
	width:860px; 
	margin: 0 auto; 
}
#container {
  position: relative;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
  float: left;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}


/***************************
 *
 * timeline
 * 
 **************************/

.timeline_container{
	width: 16px;
	text-align: center;
	margin: 0 auto;
	cursor:pointer;
	display: block;
}
.timeline{
	margin: 0 auto;
	background-color:#e08989;
	display: block;
	float: left;
	height: 100%;
	left: 428px;
	margin-top: 10px;
	position: absolute;
	width: 4px;
}

.timeline:hover {
	cursor: pointer;
	margin: 0 auto;
}

.rightCorner { 
	background-image: url("images/right.png");
	display: block;
	height: 15px;
	margin-left: 398px;
	margin-top: 8px;
	padding: 0;
	vertical-align: top;
	width: 13px;
	z-index:2;
	position: absolute;
}
.leftCorner{
	background-image: url("images/left.png");
	display: block;
	height: 15px;
	width: 13px;
	margin-left: -23px;
	margin-top: 8px;
	position: absolute;
	z-index:2;
}
.timeline div.plus{
	width: 14px;
	height: 14px;
	position: relative;
	left: -6px;
}

/***************************
 *
 * timeline inner content
 * 
 **************************/
.item {
	width: 388px;
	margin: 20px 10px 10px 10px;
	background-color:#ffffff;
	border:solid 1px #B4BBCD;
	padding: 10px;
}
.item h2 {
  margin-top: 0;
}
#filter .query {
  margin: 0 10px;
  cursor: pointer;
}
#filter .query:hover {
  color: #0090DF;
}
