@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body {
  font-family: Lato, '\5FAE\8F6F\96C5\9ED1','微軟正黑體', Calibri, Arial, sans-serif !important;
  color: #777;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #362A1C;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lato, '\5FAE\8F6F\96C5\9ED1','微軟正黑體', Calibri, Arial, sans-serif !important;
  margin: 0.5em 0;
  padding: 0;
  color:#555;
}
h1 { font-size: 39px;}
h2 { font-size: 29px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 15px;}
h6 { font-size: 13px;}
.main {
	width: 95%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em;
}
body.index .nav > li > a {
  padding:10px 5px;
}
body.index #filter .navbar-form{
  padding: 3px;
}
.nav .navbar-right{
  font-size: 12px;
}
#header .navbar-right > li > a{
  padding:10px;
  font-size: 15px;
}
body.index #filter input.form-control {
  max-width: 100px;
  width: auto;
  padding: 8px 2px;
  font-size: 13px;
}
#header .facebook-like {
  padding: 10px 0;
}
#wrapper {
  height: 100%;
  margin-top: 57px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
  float: left;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
#footer {
  font-size: 12px;
}
#footer .reload {
  background: url(images/reload.gif) no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
/**
 * Timeline specific
 */
.timeline .page-title {
  font-size: 22px;
  padding: 15px;
}
.timeline .page-title sup {
  padding-left: 10px;
}
#storyjs-timeline {
  font-family: '\5FAE\8F6F\96C5\9ED1','微軟正黑體', 'Lato', Calibri, Arial, sans-serif !important;
}
#storyjs-timeline.vco-storyjs .vco-feature p {
  color: #000;
}
#storyjs .timenav-tag-row-1 h3{ color:#8C92AD; }
#storyjs .timenav-tag-row-2 h3{ color:#71BA9F; }
#storyjs .timenav-tag-row-3 h3{ color:#CEE879; }
#storyjs .timenav-tag-row-4 h3{ color:#FCBC53; }
#storyjs .timenav-tag-row-5 h3{ color:#FF5254; }
#storyjs .timenav-tag-row-6 h3{ color:#999; }

#storyjs-timeline .vco-storyjs h3{
  font-size: 22px;
}
#storyjs-timeline .vco-slider .slider-item .content .content-container .text .container h2.date{
  line-height:0;
  font-size: 0;
}
#storyjs-timeline .vco-slider .slider-item .content .content-container .text .container h2.date span.slide-tag{
  float:right;
  display: block;
}
.vco-storyjs .vco-feature .slider-item .container h3 {
  margin-bottom: 0;
}
.slider-item .container {
  position: relative;
}
.slider-item .container .breadcrumb {
  font-size: 11px;
  display: block;
  padding: 4px 15px;
  margin-bottom: 5px;
}
.slider-item .container .more-before,
.slider-item .container .more-after {
  background: url(images/more.png) no-repeat;
  padding: 0 15px;
  cursor: pointer;
}
.slider-item .container .before,
.slider-item .container .after {
  color: #999;
  display: none;
}
.slider-item .container .before.tip,
.slider-item .container .after.tip {
  position: absolute;
  display: block;
  z-index: 999;
  color: #333;
  background: #FCFCFC;
  border: 1px solid #EEE;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.9;
}
.slider-item .container .before.tip a,
.slider-item .container .after.tip a{
  color: #333;
}
.slider-item .container .before a,
.slider-item .container .after a {
  color: #aaa;
}
.slider-item .container .before.expanded,
.slider-item .container .after.expanded
{
  color: #777;
  display: inline;
}
.slider-item .media-container img {
  max-height: 300px;
}
.slider-item .container .highlight,
.slider-item .container .highlight a {
  color: #000;
}

/**
 * front page specific
 */
#no-result {
  text-align: center;
  margin: 50px auto;
}
ul.cbp_tmtimeline {
  display: none;
}

/**
 * header
 */
.dropdown-menu>li:hover, .dropdown-menu>li:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #428BCA;
}
.dropdown-menu>li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  #header .navbar-form {
    display:none;
  }
  #header .nav > li > a {
    padding:10px 3px;
    font-size: 13px;
  }
  .fork-github {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  #logo {
    display: inline-block;
    max-height: 80px;
    width: auto;
  }
  .navbar-brand {
    padding-top: 5px;
    max-height: 40px;
    overflow: visible;
  }
}
@media screen and (max-width: 799px) {
  #logo {
    display: inline-block; 
    max-height: 40px;
    width: auto;
  }
  .navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 40px;
    overflow: visible;
  }
}
/* animation */

/* angular */
input.ng-invalid,
input.ng-invalid-email {
  border: 1px solid #E54642;
}
