html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body {
  font-family: 'Merriweather', '微軟正黑體', serif;
  font-size: 16px;
  color: #666;
}
a:link, a:visited {
  color: #0090DF;
  text-decoration: none;
}
a:hover, a:active {
  color: #0090DF;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0;
  padding: 0;
  /*text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);*/
  color:#555;
}
#header{
  text-align: center;
  height: 10%;
}
#header * {
  margin: 0;
}
#header h1 {
  font-size: 26px;
  line-height: 1.5em;
  font-weight: bold;
}
#header h1 a.home {
  vertical-align: middle;
  font-size: 12px;
  padding-right: 10px;
  text-shadow: 0px 0px;
}
#header h1.page-title sup{
  margin-left: 10px;
  margin-left: 10px;
  font-size: 13px;
  vertical-align: 20px;
  text-shadow: 0px 0px;
}
#header h1.page-title sup .question{
  margin-left: 5px;
  font-size: 10px;
  background: #aaa;
  color: #FFF;
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  line-height: 17px;
}
#header h1.page-title sup .question a{
  color: #FFF;
}
#wrapper {
	width:860px; 
	margin: 0 auto; 
}
#container {
  position: relative;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
  float: left;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
#footer {
  font-family: Arial;
  font-size: 12px;
}
#footer .reload {
  background: url(images/reload.gif) no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.slider-item .fadeout {
  color: #ccc;
}
.slider-item .container .fadeout:hover {
  color: #777;
}

/**
 * Timeline specific
 */
#storyjs-timeline .timenav-tag-row-1 h3{ color:#8C92AD; }
#storyjs-timeline .timenav-tag-row-2 h3{ color:#71BA9F; }
#storyjs-timeline .timenav-tag-row-3 h3{ color:#CEE879; }
#storyjs-timeline .timenav-tag-row-4 h3{ color:#FCBC53; }
#storyjs-timeline .timenav-tag-row-5 h3{ color:#FF5254; }
#storyjs-timeline .timenav-tag-row-6 h3{ color:#999; }

#storyjs-timeline .vco-storyjs h3{
  font-size: 22px;
}
#storyjs-timeline .vco-slider .slider-item .content .content-container .text .container h2.date{
  line-height:0;
  font-size: 0;
}
#storyjs-timeline .vco-slider .slider-item .content .content-container .text .container h2.date span.slide-tag{
  float:right;
  display: block;
}

/**
 * front page specific
 */
.timeline_container{
	width: 16px;
	text-align: center;
	margin: 0 auto;
	cursor:pointer;
	display: block;
}
.timeline{
	margin: 0 auto;
	background-color:#e08989;
	display: block;
	float: left;
	height: 100%;
	left: 428px;
	margin-top: 10px;
	position: absolute;
	width: 4px;
}

.timeline:hover {
	cursor: pointer;
	margin: 0 auto;
}

.rightCorner{ 
	background-image: url("images/right.png");
	display: block;
	height: 15px;
	margin-left: 398px;
	margin-top: 8px;
	padding: 0;
	vertical-align: top;
	width: 13px;
	z-index:2;
	position: absolute;
}
.leftCorner{
	background-image: url("images/left.png");
	display: block;
	height: 15px;
	width: 13px;
	margin-left: -23px;
	margin-top: 8px;
	position: absolute;
	z-index:2;
}
.timeline div.plus{
	width: 14px;
	height: 14px;
	position: relative;
	left: -6px;
}
.item {
	width: 388px;
	margin: 20px 10px 10px 10px;
	background-color:#ffffff;
	border:solid 1px #B4BBCD;
	padding: 10px;
	line-height:1.5em;
}
.item h2 {
  margin: 0;
}
.item .time {
  margin-bottom: 10px;
  color: #333;
}
.item .tags {
  line-height: 1.5em;
}
.item .tag{
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background: #EEE;
}
.item .tag:hover {
  background: #000;
  color: #FFF;
  cursor: pointer;
}
#filter {
  text-align: center;
}
#filter .year, #filter .tag{
  line-height: 2.0em;
}
#filter .query {
  margin: 0 10px;
  cursor: pointer;
  background: #EEE;
  border-radius: 10px;
  padding: 3px 10px;
}
#filter .query:hover {
  color: #0090DF;
}
/* animation */
.item-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 500ms linear all;
  opacity: 0;
}
.item-enter.item-enter-active {
  opacity: 1;
}

