/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#to-top{
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
}
.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #000;
	left: 20%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime .last-child {
	font-size: 1.5em;
	color: #bbb;
}
.cbp_tmtimeline > li .cbp_tmtime .last-child:before {
  content: '~ ';
}
.cbp_tmtimeline > li .cbp_tmtime span {
	font-size: 1.8em;
	color: #777;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #F3F3F3;
	color: #000;
	padding: 1em 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
  cursor: pointer;
}
.cbp_tmtimeline > li .cbp_tmlabel .icon-tags{
  float:right;
}
.cbp_tmtimeline > li .cbp_tmlabel .tag{
  padding: 3px 5px;
  border-radius: 5px;
  background: #FFF;
  margin-left: 8px;
  cursor:pointer;
  font-family: '\5FAE\8F6F\96C5\9ED1','微軟正黑體', 'Lato', Calibri, Arial, sans-serif;
}
.cbp_tmtimeline > li .cbp_tmlabel .tag:hover {
  background: #000;
  color: #FFF;
}
.cbp_tmtimeline > li .cbp_tmlabel p.content {
  display: none;
  line-height: 1.6em;
  margin:0;
	border-top: 1px solid rgba(127,127,127,0.4);
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #eee;
}
.cbp_tmtimeline > li .cbp_tmlabel:hover,
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:hover {
	background: #C0BC9E;
}

.cbp_tmtimeline > li .cbp_tmlabel:hover:after,
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:hover:after {
  border-right-color: #C0BC9E;
}


.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin: 0px;
	padding: 0;
}
.cbp_tmtimeline > li .cbp_tmlabel h2 a > span{ 
  margin-left:10px;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #F3F3F3;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #eee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.2em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  left: 20%;
  margin: 0 0 0 -25px;
  cursor: pointer;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #F3F3F3;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #EEE;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
    display:none;
	}	
}

