<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <title>index page</title>
    <meta charset="utf-8">
    <meta name="description">
    <link rel="stylesheet" href="/css/index.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/jquery.masonry.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div id="container">
      Timeline Navigator
      <div class="timeline_container">
        <div class="timeline">
        <div class="plus"></div>
        </div>
      </div>
    <% for(var i=0; i<events.length; i++) { %>
      <div class="item">
        <div class="title">
          <%= events[i].headline %>
        </div>
        <div class="time">
          <%= events[i].startDate %>
        </div>
        <div class="content">
          <%- events[i].text %>
        </div>
      </div>
    <% } %>
    </div>
  </body>
</html>
