<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <title>index page</title>
    <meta charset="utf-8">
    <meta name="description">
    <link rel="stylesheet" href="/css/index.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/fb-timeline/jquery.masonry.min.js"></script>
  </head>
  <body>

    <div id="container">
      Timeline Navigator
      <div class="timeline_container">
        <div class="timeline">
        <div class="plus"></div>
        </div>
      </div>

      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
      <div class="item">4</div>

    </div>

    <script src="/compiled/js/index.js"></script>
    
  </body>

</html>