<!DOCTYPE html>
<html>
	<head>
    <% include head %>
    <script>
    $(document).ready(function(){
      $("a.colorbox").colorbox({iframe: true,width:900,height:500});
      // analytics event tracking https://developers.google.com/analytics/devguides/collection/analyticsjs/events
      $(document).on('click', '.navbar-nav li', function() {
        ga('send', 'event', 'nav', 'click', 'fact-idx-filter');
      });
    });
    </script>
	</head>
	<body class="<%= template %>" ng-app="index" ng-controller="EventCtrl">
  <% include header %>
  <div id="wrapper">
    <div id="container" class="container">
			<div class="main" ng-show="(filterEvents|filter:filterByTag).length">
        <div align="center" id="spinner"><span class="icon-spinner icon-4x"></span></div>

				<ul class="cbp_tmtimeline">
          <li class="item" ng-repeat="event in filterEvents|filter:filterByTag|orderBy:'sort':true" ng-animate=" 'item' " on-finish-render>
						<time class="cbp_tmtime" datetime=""><span ng-show="event.endDate != ''">{{event.endDate}}</span> <span>{{event.startDate}}</span></time>
            <div class="cbp_tmicon"><i class="icon-plus-sign" ng-click="plusSignClick($event)"></i><i class="icon-minus-sign" ng-click="minusSignClick($event)"></i></div>
						<div class="cbp_tmlabel" ng-click="tmlabelClick($event)">
              <div class="event-right">
                <div><a data-toggle="modal" href="#myModal-{{$index}}" class="openSubscribe">訂閱</a> <span class="icon-envelope"></span></div>
                <div ng-show="event.tag != ''"><span class="tag" ng-click="$parent.$parent.TagFilter(tag)" ng-repeat="tag in event.tag">{{tag}}</span> <span class="icon-tags"></span></div>
              </div>
              <h2><a href="/wikipedia/{{event.headline}}">{{event.headline}}<span class="icon-double-angle-right"></span></a></h2>
              <p class="content" ng-hide>{{event.text}}</p>
						</div>
            <div class="sort" ng-hide="event.sort">{{event.sort}}</div>
            <div class="modal" id="myModal-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="SubscribeCtrl">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>{{event.headline}}</h2>
                  </div>
                  <div class="modal-body">
                    <h3>如果你想要訂閱這個事件, 請輸入你的email address</h3>
                    <form ng-submit="addEmail()" name="subsform{{$index}}">
                      <input type="email" name="email{{$index}}" ng-model="email" placeholder="請填寫Email" required>
                      <span class="error" ng-show="subsform{{$index}}.$error.required">必填</span>
                      <span class="error" ng-show="subsform{{$index}}.$error.email">請輸入正確的Email</span>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-small" data-dismiss="modal" ng-disabled="subsform{{$index}}.$error.email" ng-click="addEmail(event)">訂閱</button>
                  </div>
                </div><!-- /.content-->
              </div><!-- /.dialog-->
            </div><!-- /.modal -->
          </li>
				</ul>

      </div><!--main-->
      <div id="no-result" ng-show="(filterEvents|filter:filterByTag).length == 0">
        目前沒有這筆資料，但是你可以看一下「<a href="/wikipedia/{{filter}}">{{filter}}</a>」的時間軸。
      </div>
    </div><!-- container -->
    <div id="to-top" class="icon-angle-up icon-4x"></div>
    </div><!-- wrapper-->

  <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41326468-1', 'g0v.tw');
    ga('send', 'pageview');
  </script>
	</body>
</html>
